@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  main {
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .weather {
    -webkit-filter: invert(0.75);
    filter: invert(0.75);
  }
}
